<div class="three columns">
  <p class="workers">{{workers}}</p>
</div>
<div class="four columns">
  <p class="gloves-produced">{{input type="number" value=gloves min=0 step=1}}</p>
</div>
<div class="three columns">
  <p class="marginal-product">{{marginalProduct}}</p>
</div>
<div class="three columns">
  <p class="value-produced">{{format-currency valueProduced}}</p>
</div>
<div class="three columns">
  <p class="marginal-cost">{{format-currency marginalCostOfLabor}}</p>
</div>